body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222; /* Dark mode background */
    color: #fff; /* Text color */

}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}
.wrapper {
    min-height: calc(100vh - 100px); /* Adjust height based on footer height */
    overflow-y: auto;
    /* Add additional styles for your wrapper if needed */
}
.menu-toggle {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.dash {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: all 0.3s ease;
}

.menu-items {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menu-items li {
    list-style-type: none;
    margin-bottom: 10px;
}

.menu-items li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu-toggle.open .dash:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-toggle.open .dash:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open .dash:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.menu-toggle.open + .menu-items {
    display: block;
}
.user{
    position: fixed;
    top: 30px;
    right: 70px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;


}

footer p {
    margin: 0;
}
